/**
 * Fonts
 */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Inter-Regular.ttf") format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url("../fonts/Inter-Medium.ttf") format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url("../fonts/Inter-SemiBold.ttf") format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url("../fonts/Inter-Bold.ttf") format('woff2');
}

/**
 * Base
 */

:root {
    --background: #000000;
    --primary: #70BB66;
    --secondary: #4A4A4A;

    --text-primary: #FFFFFF;
    --text-secondary: #8D8D8D;

    --input-background: var(--background);
    --input-border: var(--secondary);
    --input-border-focused: #FFFFFF;
}

html,
body {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-flow: column;
    color: var(--text-primary);
    background-color: var(--background);
    font-family: Inter, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

hr {
    border-style: solid;
    border-color: var(--secondary);
}

/**
 * Utils
 */

.space-y-8 > * + * {
    margin-top: 2rem; 
}

.space-y-4 > * + * {
    margin-top: 1rem; 
}

.space-y-2 > * + * {
    margin-top: 0.5rem; 
}

.w-full {
    width: 100%;
}

.text-right {
    text-align: right;
}

.size-8 {
    width: 2rem;
    height: 2rem;
}

.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.uppercase {
    text-transform: uppercase;
}

.uppercase::placeholder {
    text-transform: none;
}

.container {
    width: 30%;
    margin: 0 auto;
}

.error-message {
    color: red;
}

.container-wide {
    width: 95%;
    margin: 0 auto;
}

.flex-center {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.two-cols {
    gap: 4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.two-cols :first-child {
    grid-column: span 2 / span 2;
}

/**
 * App
 */

.logo {
    border: 2px solid var(--text-primary);
    color: var(--text-primary);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    font-weight: 800;
    font-size: 0.9rem;
}

label {
    display: block;
    color: var(--text-primary);
    margin-bottom: 0.45rem;
    font-size: 0.85rem;
}

label:hover {
    cursor: pointer;
}

input {
    box-sizing: border-box;
    background-color: var(--input-background);
    border: 2px solid var(--input-border);
    color: var(--text-primary);
    padding: 0.65rem 0.7rem;
}

input:focus {
    border-color: var(--input-border-focused);
    outline: none;
}

input::placeholder {
    color: var(--text-secondary);
}

input[type="file"] {
    padding: 0.5rem 0.65rem;
    font-size: 0.75rem;
    background: var(--secondary);
    width: 22rem;
}

input.signup-code {
    width: 100%;
    padding: 0.75rem 0.7rem;
    text-align: center;
    border-color: var(--input-border-focused);
}

input.signup-code:disabled {
    cursor: not-allowed;
    color: var(--text-secondary);
    text-decoration-line: line-through;
    border-color: var(--input-border);
}

input[type=checkbox] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox] + label {
    position: relative;
    font-size: 14px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    height: 42px;
    color: rgb(255, 255, 255);
    user-select: none;
    margin-bottom: 0;
}

input[type=checkbox] + label::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    margin-right: 14px;
    width: 32px;
    height: 32px;
    background-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 0;
    box-shadow: none;
}

input[type=checkbox]:checked + label::after {
    content: " ";
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik01LjQ3IDUuNDdhLjc1Ljc1IDAgMCAxIDEuMDYgMEwxMiAxMC45NGw1LjQ3LTUuNDdhLjc1Ljc1IDAgMSAxIDEuMDYgMS4wNkwxMy4wNiAxMmw1LjQ3IDUuNDdhLjc1Ljc1IDAgMSAxLTEuMDYgMS4wNkwxMiAxMy4wNmwtNS40NyA1LjQ3YS43NS43NSAwIDAgMS0xLjA2LTEuMDZMMTAuOTQgMTIgNS40NyA2LjUzYS43NS43NSAwIDAgMSAwLTEuMDZaIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIC8+Cjwvc3ZnPgo=");
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: center center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    left: 0;
    top: 0;
    text-align: center;
    background-color: transparent;
    font-size: 10px;
    height: 42px;
    width: 36px;
}

button {
    padding: 0.95rem 1.5rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

button.primary {
    background-color: var(--primary);
    color: var(--text-primary);
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}

button.secondary {
    background-color: var(--secondary);
    color: var(--text-primary);
}

button.secondary:hover {
    background-color: var(--secondary);
}

h1 {
    font-size: 1.5rem;
}

header {
    border-bottom: 2px solid var(--secondary);
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
    align-items: center;
    /* padding: 10px 25px; */
    margin-bottom: -2px;
    border-bottom: 2px solid var(--secondary);
}

nav ul button,
nav ul a {
    padding: 10px 25px;
    background-color: transparent;
    color: var(--text-primary);
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.025em;
}

nav ul li.current, 
nav ul li:hover {
    background-color: var(--secondary);
    border-bottom: 2px solid #FFF;
}

nav ul.nav-right {
    margin-left: auto;
}

footer {
    margin-top: auto;
    border-top: 2px solid var(--secondary);
}

footer .container-wide {
    display: flex;
    padding: 25px 0;
    align-items: center;
    justify-content: space-between;
}

footer .tracks_count {
    font-size: 12px;
    color: var(--text-secondary);
}

main {
    padding: 1.75rem 0;
}

small {
    font-weight: 500;
    margin-left: 5px;
    color: var(--text-secondary);
}

ul {
    padding-left: 20px;
}

.avatar {
    border-radius: 50%;
    background-color: var(--secondary);
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-medium {
    width: 3rem;
    height: 3rem;
    font-size: 0.95rem;
}

.avatar-small {
    width: 2rem;
    height: 2rem;
    font-size: 0.75rem;
}

/* Block */
.block {
    border: 1px solid var(--secondary);
}

.block .title {
    display: inline-flex;
    column-gap: 6px;
}

.block .title svg {
    width: 1rem; /* 16px */
    height: 1rem;
}

.block .title h1 {
    text-transform: uppercase;
    font-size: 0.95rem;
    margin: 0 0 0.25rem;
}

.block .title h2 {
    color: var(--text-secondary);
    font-size: 0.9rem;
    font-weight: normal;
    margin: 0;
}

.block-content {
    padding: 1.85rem 1.75rem;
}

.auth {
    margin: 4rem auto;
}

.auth .logo {
    margin-bottom: 1.25rem;
}

.auth p, 
.auth li {
    font-size: 14px;
}

dl dt {
    margin-bottom: 6px;
    color: var(--text-secondary);
}

dl dd {
    margin: 0 0 1.5rem;
}

/* Grid */
.grid {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid .block {
    aspect-ratio: 1;
    display: flex; 
    flex-direction: column;
    color: var(--text-secondary);
    overflow: hidden; 
    position: relative;
}

.grid .block h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.grid .block h3 {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
}

.grid .block:hover {
    border-color: white;
    color: var(--text-primary);
}

.grid img {
    z-index: 1;
    aspect-ratio: 1;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.grid .description {
    padding: 10px;
    height: 100%;
    display: flex; 
    z-index: 10;
    justify-content: space-between;
    flex-direction: column;
    background: rgb(0,0,0);
    background: linear-gradient(20deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5480392840730042) 70%, rgba(0,0,0,0.39957990031950286) 100%); 
}

form input.w-large {
    width: 32rem;
}

form input.w-medium {
    width: 26rem;
}

form.profile-form {
    margin-top: 2rem;
}

form.profile-form .avatar-input {
    display: flex; 
    gap: 1rem; 
    align-items: center;
}

form.track-form {
    margin-top: 2rem;
}

form.track-form .submit {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    color: var(--text-secondary);
}

form.track-form button {
    padding: 0.95rem 3rem;
}

form.signup-form .host {
    gap: 0.75rem;
    display: flex;
    align-items: center;
}

form.signup-form h1 {
    margin: 0 0 4px;
    font-size: 1rem;
}

form.signup-form h2 {
    margin: 0;
    font-size: 0.75rem;
    color: var(--text-secondary);
    font-weight: normal;
}

/* Chart */
ol.chart {
    margin-top: 2rem;
    list-style: none;
    padding: 0;
}

ol.chart li a {
    display: flex;
    gap: 1.5rem;
    align-items: end;
    color: var(--text-primary);
    border-bottom: 2px solid var(--secondary);
    padding-bottom: 12px;
    margin-top: 12px;

    .position, .metadata, svg {
        color: var(--text-secondary);
    }
}

ol.chart li a:hover {
    border-color: var(--text-primary);
}

ol.chart li a:hover .position, 
ol.chart li a:hover .metadata,
ol.chart li a:hover svg {
        color: var(--text-primary);
    }

ol.chart li .position {
    flex: none;
    width: 50px;
    font-size: 1.5rem;
}

ol.chart li img {
    width: 90px;
}

ol.chart li .details {
        flex-grow: 1;
}
ol.chart li .details h1 {
    margin: 0 0 3px;
    font-size: 1.25rem;
    font-weight: 200;
}

ol.chart li .details h2 {
    margin: 0 0 16px;
    font-size: 0.95rem;
    font-weight: 200;
}

ol.chart li .details .metadata {
    display: flex;
}

ol.chart li .details .metadata-item {
    display: inline-flex;
    font-size: 0.75rem;
    gap: 0.45rem;
    margin-right: 20px;
    align-items: center;
}

ol.chart li .details .metadata-item svg {
    width: 0.95rem;
    height: 0.95rem;
}

@media (max-width: 1024px) {
    .container {
        width: 50%;
    }

    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .two-cols {
        gap: 2rem;
        display: grid;
        grid-template-columns: 1fr;
    }

    .two-cols:first-child {
        grid-column: 1;
    }

    input[type=file] {
        width: 100%;
    }

    form input.w-large, 
    form input.w-medium {
        width: 100%;
    } 
}

@media (max-width: 640px) {
    .container {
        width: 95%;
    }

    nav.container-wide {
        width: 100%;
    }

    nav {
        display: block;
    }

    nav ul {
        display: block;
    }

    nav ul li {       
        padding: 15px 15px;
    }

    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}